venv/
.env
__pycache__/
*.pyc
.DS_Store
tia_cookie.txt
.deepeval
frontend/.next/
frontend/node_modules/
log/
*.log
.env_bu
tia-demo-key.json
*.bu
*.python-version
.ragatouille/
*ragatouille_pack/
*.mp4
.python-version
*public/
