aiohttp==3.9.5 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
aiostream==0.5.2 ; python_version >= "3.10" and python_version < "3.12"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
anthropic==0.23.1 ; python_version >= "3.10" and python_version < "3.12"
anyio==4.4.0 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==4.0.3 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.10" and python_version < "3.12"
beautifulsoup4==4.12.3 ; python_version >= "3.10" and python_version < "3.12"
bitarray==2.9.2 ; python_version >= "3.10" and python_version < "3.12"
blinker==1.8.2 ; python_version >= "3.10" and python_version < "3.12"
cachetools==5.3.3 ; python_version >= "3.10" and python_version < "3.12"
catalogue==2.0.10 ; python_version >= "3.10" and python_version < "3.12"
certifi==2024.6.2 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.10" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.10" and python_version < "3.12"
colbert-ai==0.2.19 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and (platform_system == "Windows" or sys_platform == "win32")
dataclasses-json==0.6.6 ; python_version >= "3.10" and python_version < "3.12"
datasets==2.19.2 ; python_version >= "3.10" and python_version < "3.12"
deprecated==1.2.14 ; python_version >= "3.10" and python_version < "3.12"
deprecation==2.1.0 ; python_version >= "3.10" and python_version < "3.12"
dill==0.3.8 ; python_version >= "3.10" and python_version < "3.12"
dirtyjson==1.0.8 ; python_version >= "3.10" and python_version < "3.12"
distro==1.9.0 ; python_version >= "3.10" and python_version < "3.12"
dnspython==2.6.1 ; python_version >= "3.10" and python_version < "3.12"
email-validator==2.1.1 ; python_version >= "3.10" and python_version < "3.12"
exceptiongroup==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
faiss-cpu==1.8.0 ; python_version >= "3.10" and python_version < "3.12"
fast-pytorch-kmeans==0.2.0.1 ; python_version >= "3.10" and python_version < "3.12"
fastapi==0.111.0 ; python_version >= "3.10" and python_version < "3.12"
fastapi-cli==0.0.4 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.14.0 ; python_version >= "3.10" and python_version < "3.12"
flask==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
flupy==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.4.1 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2024.3.1 ; python_version >= "3.10" and python_version < "3.12"
fsspec[http]==2024.3.1 ; python_version >= "3.10" and python_version < "3.12"
git-python==1.0.3 ; python_version >= "3.10" and python_version < "3.12"
gitdb==4.0.11 ; python_version >= "3.10" and python_version < "3.12"
gitpython==3.1.43 ; python_version >= "3.10" and python_version < "3.12"
google-api-core==2.19.0 ; python_version >= "3.10" and python_version < "3.12"
google-api-core[grpc]==2.19.0 ; python_version >= "3.10" and python_version < "3.12"
google-api-python-client==2.132.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth==2.29.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth-httplib2==0.2.0 ; python_version >= "3.10" and python_version < "3.12"
google-auth-oauthlib==1.2.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-core==2.4.1 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-secret-manager==2.20.0 ; python_version >= "3.10" and python_version < "3.12"
google-cloud-storage==2.16.0 ; python_version >= "3.10" and python_version < "3.12"
google-crc32c==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
google-resumable-media==2.7.0 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos==1.63.1 ; python_version >= "3.10" and python_version < "3.12"
googleapis-common-protos[grpc]==1.63.1 ; python_version >= "3.10" and python_version < "3.12"
gotrue==2.4.4 ; python_version >= "3.10" and python_version < "3.12"
greenlet==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
grpc-google-iam-v1==0.13.0 ; python_version >= "3.10" and python_version < "3.12"
grpcio==1.64.1 ; python_version >= "3.10" and python_version < "3.12"
grpcio-status==1.62.2 ; python_version >= "3.10" and python_version < "3.12"
grpclib==0.4.7 ; python_version >= "3.10" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.12"
h2==4.1.0 ; python_version >= "3.10" and python_version < "3.12"
hpack==4.0.0 ; python_version >= "3.10" and python_version < "3.12"
html2text==2024.2.26 ; python_version >= "3.10" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.10" and python_version < "3.12"
httplib2==0.22.0 ; python_version >= "3.10" and python_version < "3.12"
httptools==0.6.1 ; python_version >= "3.10" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.10" and python_version < "3.12"
huggingface-hub==0.23.2 ; python_version >= "3.10" and python_version < "3.12"
huggingface-hub[inference]==0.23.2 ; python_version >= "3.10" and python_version < "3.12"
hyperframe==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
idna==3.7 ; python_version >= "3.10" and python_version < "3.12"
intel-openmp==2021.4.0 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
itsdangerous==2.2.0 ; python_version >= "3.10" and python_version < "3.12"
jinja2==3.1.4 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.4.2 ; python_version >= "3.10" and python_version < "3.12"
jsonpatch==1.33 ; python_version >= "3.10" and python_version < "3.12"
jsonpointer==2.4 ; python_version >= "3.10" and python_version < "3.12"
langchain==0.1.20 ; python_version >= "3.10" and python_version < "3.12"
langchain-community==0.0.38 ; python_version >= "3.10" and python_version < "3.12"
langchain-core==0.1.52 ; python_version >= "3.10" and python_version < "3.12"
langchain-text-splitters==0.0.2 ; python_version >= "3.10" and python_version < "3.12"
langsmith==0.1.71 ; python_version >= "3.10" and python_version < "3.12"
llama-hub==0.0.79.post1 ; python_version >= "3.10" and python_version < "3.12"
llama-index==0.10.43 ; python_version >= "3.10" and python_version < "3.12"
llama-index-agent-openai==0.2.7 ; python_version >= "3.10" and python_version < "3.12"
llama-index-cli==0.1.12 ; python_version >= "3.10" and python_version < "3.12"
llama-index-core==0.10.43 ; python_version >= "3.10" and python_version < "3.12"
llama-index-embeddings-huggingface==0.2.1 ; python_version >= "3.10" and python_version < "3.12"
llama-index-embeddings-openai==0.1.10 ; python_version >= "3.10" and python_version < "3.12"
llama-index-indices-managed-llama-cloud==0.1.6 ; python_version >= "3.10" and python_version < "3.12"
llama-index-legacy==0.9.48 ; python_version >= "3.10" and python_version < "3.12"
llama-index-llms-anthropic==0.1.11 ; python_version >= "3.10" and python_version < "3.12"
llama-index-llms-openai==0.1.22 ; python_version >= "3.10" and python_version < "3.12"
llama-index-multi-modal-llms-openai==0.1.6 ; python_version >= "3.10" and python_version < "3.12"
llama-index-packs-ragatouille-retriever==0.1.3 ; python_version >= "3.10" and python_version < "3.12"
llama-index-program-openai==0.1.6 ; python_version >= "3.10" and python_version < "3.12"
llama-index-question-gen-openai==0.1.3 ; python_version >= "3.10" and python_version < "3.12"
llama-index-readers-database==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
llama-index-readers-file==0.1.23 ; python_version >= "3.10" and python_version < "3.12"
llama-index-readers-llama-parse==0.1.4 ; python_version >= "3.10" and python_version < "3.12"
llama-index-tools-google==0.1.5 ; python_version >= "3.10" and python_version < "3.12"
llama-index-vector-stores-supabase==0.1.5 ; python_version >= "3.10" and python_version < "3.12"
llama-parse==0.4.4 ; python_version >= "3.10" and python_version < "3.12"
llamaindex-py-client==0.1.19 ; python_version >= "3.10" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.10" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.10" and python_version < "3.12"
marshmallow==3.21.2 ; python_version >= "3.10" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.10" and python_version < "3.12"
minijinja==2.0.1 ; python_version >= "3.10" and python_version < "3.12"
mkl==2021.4.0 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
modal==0.62.201 ; python_version >= "3.10" and python_version < "3.12"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.0.5 ; python_version >= "3.10" and python_version < "3.12"
multiprocess==0.70.16 ; python_version >= "3.10" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.10" and python_version < "3.12"
networkx==3.3 ; python_version >= "3.10" and python_version < "3.12"
ninja==1.11.1.1 ; python_version >= "3.10" and python_version < "3.12"
nltk==3.8.1 ; python_version >= "3.10" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.10" and python_version < "3.12"
nvidia-cublas-cu12==12.1.3.1 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cuda-cupti-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cuda-nvrtc-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cuda-runtime-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cudnn-cu12==8.9.2.26 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cufft-cu12==11.0.2.54 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-curand-cu12==10.3.2.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cusolver-cu12==11.4.5.107 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-cusparse-cu12==12.1.0.106 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-nccl-cu12==2.20.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-nvjitlink-cu12==12.5.40 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
nvidia-nvtx-cu12==12.1.105 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.10" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.10" and python_version < "3.12"
onnx==1.16.1 ; python_version >= "3.10" and python_version < "3.12"
openai==1.31.0 ; python_version >= "3.10" and python_version < "3.12"
orjson==3.10.3 ; python_version >= "3.10" and python_version < "3.12"
packaging==23.2 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.2.2 ; python_version >= "3.10" and python_version < "3.12"
pgvector==0.1.8 ; python_version >= "3.10" and python_version < "3.12"
pillow==10.3.0 ; python_version >= "3.10" and python_version < "3.12"
postgrest==0.16.8 ; python_version >= "3.10" and python_version < "3.12"
proto-plus==1.23.0 ; python_version >= "3.10" and python_version < "3.12"
protobuf==4.25.3 ; python_version >= "3.10" and python_version < "3.12"
psutil==5.9.8 ; python_version >= "3.10" and python_version < "3.12"
psycopg2-binary==2.9.9 ; python_version >= "3.10" and python_version < "3.12"
pyaml==23.12.0 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==16.1.0 ; python_version >= "3.10" and python_version < "3.12"
pyarrow-hotfix==0.6 ; python_version >= "3.10" and python_version < "3.12"
pyasn1==0.6.0 ; python_version >= "3.10" and python_version < "3.12"
pyasn1-modules==0.4.0 ; python_version >= "3.10" and python_version < "3.12"
pydantic==2.7.3 ; python_version >= "3.10" and python_version < "3.12"
pydantic-core==2.18.4 ; python_version >= "3.10" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.10" and python_version < "3.12"
pynvml==11.5.0 ; python_version >= "3.10" and python_version < "3.12"
pyparsing==3.1.2 ; python_version >= "3.10" and python_version < "3.12"
pypdf==4.2.0 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.10" and python_version < "3.12"
python-multipart==0.0.9 ; python_version >= "3.10" and python_version < "3.12"
pytz==2024.1 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.10" and python_version < "3.12"
ragatouille==0.0.8.post2 ; python_version >= "3.10" and python_version < "3.12"
realtime==1.0.5 ; python_version >= "3.10" and python_version < "3.12"
regex==2024.5.15 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.3 ; python_version >= "3.10" and python_version < "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.10" and python_version < "3.12"
retrying==1.3.4 ; python_version >= "3.10" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.10" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.10" and python_version < "3.12"
safetensors==0.4.3 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.5.0 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.13.1 ; python_version >= "3.10" and python_version < "3.12"
sentence-transformers==2.7.0 ; python_version >= "3.10" and python_version < "3.12"
shellingham==1.5.4 ; python_version >= "3.10" and python_version < "3.12"
sigtools==4.0.1 ; python_version >= "3.10" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
smmap==5.0.1 ; python_version >= "3.10" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.10" and python_version < "3.12"
soupsieve==2.5 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy==2.0.30 ; python_version >= "3.10" and python_version < "3.12"
sqlalchemy[asyncio]==2.0.30 ; python_version >= "3.10" and python_version < "3.12"
srsly==2.4.8 ; python_version >= "3.10" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.10" and python_version < "3.12"
storage3==0.7.5 ; python_version >= "3.10" and python_version < "3.12"
strenum==0.4.15 ; python_version >= "3.10" and python_version < "3.12"
striprtf==0.0.26 ; python_version >= "3.10" and python_version < "3.12"
supabase==2.5.0 ; python_version >= "3.10" and python_version < "3.12"
supafunc==0.4.5 ; python_version >= "3.10" and python_version < "3.12"
sympy==1.12.1 ; python_version >= "3.10" and python_version < "3.12"
synchronicity==0.6.7 ; python_version >= "3.10" and python_version < "3.12"
tbb==2021.12.0 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
tenacity==8.3.0 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.5.0 ; python_version >= "3.10" and python_version < "3.12"
tiktoken==0.7.0 ; python_version >= "3.10" and python_version < "3.12"
tokenizers==0.19.1 ; python_version >= "3.10" and python_version < "3.12"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.12"
torch==2.3.0 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.66.4 ; python_version >= "3.10" and python_version < "3.12"
transformers==4.41.2 ; python_version >= "3.10" and python_version < "3.12"
triton==2.3.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version < "3.12" and python_version >= "3.10"
typer==0.12.3 ; python_version >= "3.10" and python_version < "3.12"
types-certifi==2021.10.8.3 ; python_version >= "3.10" and python_version < "3.12"
types-toml==0.10.8.20240310 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.12.1 ; python_version >= "3.10" and python_version < "3.12"
typing-inspect==0.9.0 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2024.1 ; python_version >= "3.10" and python_version < "3.12"
ujson==5.10.0 ; python_version >= "3.10" and python_version < "3.12"
uritemplate==4.1.1 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.10" and python_version < "3.12"
uvicorn==0.30.1 ; python_version >= "3.10" and python_version < "3.12"
uvicorn[standard]==0.30.1 ; python_version >= "3.10" and python_version < "3.12"
uvloop==0.19.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.12"
vecs==0.4.3 ; python_version >= "3.10" and python_version < "3.12"
voyager==2.0.6 ; python_version >= "3.10" and python_version < "3.12"
watchfiles==0.22.0 ; python_version >= "3.10" and python_version < "3.12"
websockets==12.0 ; python_version >= "3.10" and python_version < "3.12"
werkzeug==3.0.3 ; python_version >= "3.10" and python_version < "3.12"
wrapt==1.16.0 ; python_version >= "3.10" and python_version < "3.12"
xxhash==3.4.1 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.9.4 ; python_version >= "3.10" and python_version < "3.12"
